body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#password {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}
